
body {
  h1 {
    font-size: 2rem;
  }
  p{
    color:red;
    text-decoration: underline;
  }
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  .form-control,
  input,
  select,
  option,
  .form-select,
  .form-check-input {
    background-color: transparent;
    background: rgb(148, 187, 233);
    background: linear-gradient(
      327deg,
      rgba(148, 187, 233, 1) 36%,
      rgba(238, 174, 202, 1) 100%
    );
    border: 0;
  }
  
  form {
    display: flex ;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  }
}
